 [user]
name = Lukas Suter
username = lukassuter
email = lukas.suter@swegon.com

[init]
defaultBranch = main

[core]
	autocrlf = input
editor = code --wait

[diff]
tool = code

[difftool]
prompt = false

[push]
autoSetupRemote = true